1. write code to reverse string

In [ ]:
str=input("enter string :")
reverse=str[::-1]
print(reverse)

enter string :ert
tre

2.Write code to count number of vowels in string

In [ ]:
string = input("enter string :")
vowels = "aeiouAEIOU"

count = sum(string.count(i) for i in vowels)
print(count)

enter string :fghjkii
2

3.write a program to check string is palindrome or not in python

In [ ]:
def isPalindrome(s):
    return s == s[::-1]
s = input("enter string :")
ans = isPalindrome(s)

if ans:
    print("Yes")
else:
    print("No")

enter string :mallam
Yes

4. Given string are anagrams or not

In [ ]:
def anagram1(s1,s2):

    if(sorted(s1)==sorted(s2)):
           print("this both string are anagrams ")
    else:
          print("this both string are not anagrams")

s1="listen"
s2="silent"
anagram1(s1,s2)

this both string are anagrams

5.Write code to find all occurances of given substring within another string

In [ ]:
s1=input("enter string :")
s2=input("enter sub-string :")
res=[i for i in range(len(s1)) if s1.startswith(s2,i)]
print(res)

enter string :hello my hellow ith hello
enter sub-string :hello
[0, 9, 20]

6.Write a code to perform basic string compression using the counts of repeated character

In [ ]:
from itertools import groupby
def encode_str(input_str):
  return [(len(list(n)),m) for m,n in groupby(input_str)]

str1=input("enter string :")
print("original string :",str1)
print("result is :",encode_str(str1))

enter string :asssdfggh
original string : asssdfggh
result is : [(1, 'a'), (3, 's'), (1, 'd'), (1, 'f'), (2, 'g'), (1, 'h')]

7. write a code to determine string has unique character

In [ ]:
string=input("enter string :")
if len(str)==len(set(str)):
  print("unique")
else:
  print("not unique")

enter string :kkrinsi
not unique

8. Write a code to convert string in uppercase and lowercase

In [ ]:
str1="pwskill"
str2="PWSKILL"
a1=str1.upper()
a2=str2.lower()
print(a1)
print(a2)

PWSKILL
pwskill

9. write a code to count no. of words in string

In [ ]:
str="welcome in the world"
count=0
for i in str:
  if(len(str)!=0):
    count=count+1
print(count)

20

In [ ]:
str="welcome in the world"
s1=str.split()
count=len(s1)
print(count)

4

10. write a code to concate 2 string without the use of + operator.

In [ ]:
s1="hello"
s2="pwskill"
s3=""
for i in s1:
  s3=s3+i
for j in s2:
  s3=s3+j
print(s3)

hellopwskill

11. write a code to remove all occurances of a specific element from a list

In [ ]:
def remove_occurances(original,element):
  return [i for i in original if(original!=element)]

org=[1,2,3,4,5,6,7,6,7]
new_ele=2
result=remove_occurances(org,new_ele)
print(result)

[1, 2, 3, 4, 5, 6, 7, 6, 7]

12. write a code to find second largest number in list of int type

In [ ]:
l1=[110,34,27,68,9,45]
l1.sort()
print(l1[-2])

68

13. Create code to count the occurances of each element in a list and return a dictionary with elements as key and their counts as value

In [ ]:
list=[2,4,55,3,12,4,2,2,4,4,2,4,55]
dic={}
for i in list:
  if i in dic:
    dic[i]+=1
  else:
    dic[i]=1
print(dic)

{2: 4, 4: 5, 55: 2, 3: 1, 12: 1}

14. write a code to reverse list without the use of in-built function

In [ ]:
l1=[110,34,27,68,9,45]
list1=l1[::-1]
print(list1)

[45, 9, 68, 27, 34, 110]

15.Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
def remove_duplicates(input_list):
  seen = set()
  return [i for i in input_list if not (i in seen or seen.add(i))]

original_list = [1, 2, 3, 2, 1, 4, 5, 3, 6]
print(remove_duplicates(original_list))

[1, 2, 3, 4, 5, 6]

16. write a code to check whether given list is sorted or not

In [ ]:
l1=[110,34,27,68,9,45]
if(l1==sorted(l1)):
  print("List is sorted")
else:
  print("List is not sorted")

List is not sorted

17. write a code to merge 2 sorted list into single soretd list

In [ ]:
l1=[23,56,87,23,90]
l2=[34,65,12,78,96]
l1_sort=sorted(l1)
l2_sort=sorted(l2)
l3=l1_sort+l2_sort
print(l3)

[23, 23, 56, 87, 90, 12, 34, 65, 78, 96]

18. Implemet a code to find a intersection of two given lists.

In [ ]:
def intersection(l1,l2):
  for i in l1:
    for j in l2:
      if(i==j):
        print(i)

l1=[1,2,3,4,5]
l2=[4,5,6,7,8]
result=intersection(l1,l2)

4
5

19.write a code to find union of 2 list without duplicates.

In [ ]:
def union(l1,l2):
  result=l1+l2
  unique=list(set(result))
  print(unique)

l1=[1,2,3,4,5]
l2=[4,5,6,7,8]
final_union=union(l1,l2)

[1, 2, 3, 4, 5, 6, 7, 8]

20. write a code to shuffle a given list randomly without using any built-in shuffle function.

In [ ]:
l1=[2,3,4,5,6,7,8,9]
import random
random.shuffle(l1)
print(l1)

[3, 4, 8, 9, 7, 5, 6, 2]

21.Write a code that takes two tuple as input and return a new tuple containg that are common to both input tuples

In [ ]:
t1=(2,5,6,7,8,9)
t2=(4,5,8,9)
result=tuple(set(t1)&set(t2))
print(result)

(8, 9, 5)

22. create a code that prompts the user to enter two sets of integers separated b y commas.then print the intersection of that two sets

In [ ]:
t1=("enter first set of integers")
t2=("enter second set of integers")
t1=set(map(int,input().split(',')))
t2=set(map(int,input().split(',')))
t3 = t1.intersection(t2)
print(t3)

3,7,9,6,2
5,9,8,7,6
{9, 6, 7}

question 23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:
def concate_tuple(t1,t2):
  return t1+t2

t1=(2,5,7)
t2=(4,5,8)
result=concate_tuple(t1,t2)
print(result)

(2, 5, 7, 4, 5, 8)

24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [ ]:
t1=("enter first set of string")
t2=("enter second set of string")
t1=set(map(str,input().split(',')))
t2=set(map(str,input().split(',')))
t3=t1.difference(t2)
print(t3)

kissu
krinsi
{'kissu'}

25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [ ]:

def extract_elements(t, start, end):
  # Extract elements from the specified range
  new_tuple = t[start:end+1]
  return new_tuple

t = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(t)
start = int(input("enter the start index : "))
end = int(input("enter the end index : "))
result = extract_elements(t, start, end)
print(result)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
enter the start index : 1
enter the end index : 8
(2, 3, 4, 5, 6, 7, 8, 9)

26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [ ]:

s1 =input("enter the set of characters : ")
s2 =input("enter the set of characters : ")
s1 = set(s1.split(','))
s2 = set(s2.split(','))
s3 = s1.union(s2)
print(s3)

enter the set of characters : h,k,i,l
enter the set of characters : i,k,e,r
{'i', 'r', 'h', 'e', 'k', 'l'}

27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [ ]:
def find_min(t1):
  min_value=min(t1)
  return min_value

def find_max(t1):
  max_value=max(t1)
  return max_value

t1=tuple(map(int,input().split(',')))
min_value=find_min(t1)
max_value=find_max(t1)
print(min_value)
print(max_value)

2,4,6
2
6

28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [ ]:
s1= input("enter the set of integers : ")
s2= input("enter the set of integers : ")
s1 = set(s1.split(','))
s2 = set(s2.split(','))
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))

enter the set of integers : 2,5,7,8
enter the set of integers : 3,5,2,1
{'7', '5', '1', '2', '3', '8'}
{'5', '2'}
{'7', '8'}

29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [ ]:
def count_occurances(t1):
  count=0
  for i in t1:
    if(i==element):
      count+=1
  return count


t1= input("enter the tuple of integers : ")
element=input("enter the element : ")
result=count_occurances(t1)
print(result)

enter the tuple of integers : 2,3,1,2
enter the element : 2
2

30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [ ]:
t1=("enter first set of string")
t2=("enter second set of string")
t1=set(map(str,input().split(',')))
t2=set(map(str,input().split(',')))
t3=t1.symmetric_difference(t2)
print(t3)

3,4,5,6
5,6,7,8
{'7', '3', '4', '8'}

31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [ ]:
l1=input("enter 1st string :")
l1=l1.split(',')
dic={}
for i in l1:
  if i in dic:
    dic[i]=dic[i]+1
  else:
    dic[i]=1
print(dic)

enter 1st string :r,y,u
{'r': 1, 'y': 1, 'u': 1}

32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

In [5]:
def merge_dicts(dict1, dict2):
    merged_dict = {}
    for key, value in dict1.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value

    return merged_dict

dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}

merged = merge_dicts(dict1, dict2)
print(merged)

{'a': 1, 'b': 5, 'c': 7, 'd': 5}

33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

In [3]:

def access_nested_dict(nested_dict, keys):
  current_dict = nested_dict

  for key in keys:
    if key in current_dict:
      current_dict = current_dict[key]
    else:
      return None

  return current_dict

d1 = {'a': {'b': {'c': 12 }}}
keys = ['a', 'b', 'c']
value = access_nested_dict(d1, keys)
print(value)

keyss = ['a', 'r', 'c']
value1 = access_nested_dict(d1, keyss)
print(value1)

12
None

34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

In [ ]:
d1={'a':10,'b':40,'c':30}
d2=dict(sorted(d1.items(),key=lambda x:x[1]))
print(d2)

{'a': 10, 'c': 30, 'b': 40}

35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [4]:
d1 = {'hemangi': 10, 'mitali': 2, 'krinsi':10}
d2 = {}
for key, value in d1.items():
    if value in d2:
        d2[value].append(key)
    else:
        d2[value] = [key]
print(d2)

{10: ['hemangi', 'krinsi'], 2: ['mitali']}